.the-header {
    height: 55px;
    background-color: $header-color;
  }
  
  .logo-side-header {
    position: absolute;
    left: 0;
    padding-left: 12px;
    height:100%;
    line-height: 100%;
    display: flex;
    width: 230px;
    max-width: 230px;
    box-sizing: border-box;
  }
  
  .menu-icon {
    cursor: pointer;
    background: url(../../assets/img/icon-left-header.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 16px;
  }
  
  .logo-icon {
    cursor: pointer;
    background: url(../../assets/img/logo-text.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 100%;
    margin-left: 10px;
    margin-top: 15px;
  }
  .main-header{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 230px;
  }
  .left-main-header{
    padding-left: 15px;
  }
  .name-restaurant{
    height: 100%;
    width: 230px;
    background-color: #005082;
    
  }
  .input-dropdown{
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .nameofRestaurant{
    border: none;
    outline: none;
    width: 178px;
    height: 100%;
    background-color: inherit;
    color: #fff;
  }
  .icon-dropdown-namerestaurant{
    background: url("../../assets/img/trigger.png") no-repeat 0 0;
    height: 100%;
    width: 22px;
    margin-top : 8px;
    margin-left:12px ;
  }
  .icon-filter1{
    background: url("../../assets/img/filter_1.png") no-repeat 0 0;
    width: 28px;
    height: 100%;
    margin-top:8px;
    margin-left: 2px
  }
  .right-main-header{
    height: 100%;
    width: 625px;
    display: flex;
    align-items: center;
    margin-left: 440px;
  }
  .name-language{
    background-color:#005082 ;
    width: 170px;
  }
  .nameOflanguage{
    height: 100%;
    background-color: inherit;
    padding: none;
    border: none;
    outline: none;
    width: 148px;
    color: #fff;
  }
  .icon-dropdown-nameoflanguage{
    background: url("../../assets/img/trigger.png") no-repeat 0 0;
    height: 100%;
    width: 22px;
    margin-top:8px
  }
  .most-question{
    height: 100%;
    background: url("../../assets/img/bg-3m-marketing.svg") no-repeat 0 0;
    background-size: cover;
    width: 125px;
    margin-left: 60px;
    color: #FFEBBC;
    text-align:start;
    padding-left: 5px;
    padding-top: 10px;
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
  
  }
  .new-call{
    height: 100%;
    width: 65px;
    background: url("../../assets/img/ic_support.svg") no-repeat 0 0;
    background-size: cover;
    margin-left: 3px;
  }
  .avatar{
    width: 190px;
    height: 32px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 13px;
    font-weight: 500;
  }
  .avatar-img{
    background: url("../../assets/img/EmployeeImage.png") no-repeat 0 0;
    background-size: cover;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: #fff;
    margin-right:5px ;
  }
  