.dialog-close {
    width: 400px;
    height: 140px;
    border: 5px solid #0072bc;
    background-color: #fff;
  }
  
  .dialog-close-header {
    position: relative;
    background-color: #0072bc;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
  }
  
  .dialog-close-title {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    padding-left: 4px;
    padding-top: 3px;
  }
  
  .dialog-close-content {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100% - 25px);
  }
  
  .dialog-main-content {
    display: flex;
    width: 100%;
    height: 52px;
    padding: 10px;
  }
  
  .dialog-icon-warning {
    background: url(../../../assets/img/icon-warning.png) no-repeat !important;
    min-width: 32px;
    height: 32px;
  }
  
  .dialog-content-text {
    margin-left: 12px;
    font-size: 13px;
    font-weight: normal;
  }
  
  .dialog-bottom-content {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 36px;
    padding: 6px;
  }